<div class="container" >
  <!-- ━━━━━━━━━━━━━━━ CONTAINER ━━━━━━━━━━━━━━━ -->

  <!--≈≈≈≈≈| PAYMENT FORM |≈≈≈≈≈-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div >
    <h3 >Payment Form</h3 >
  </div >
  <hr >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <!--≈≈≈≈≈| PAYMENT FORM |≈≈≈≈≈-->

  <!--〄〄〄〄 child-container (- TitleCasePipe -) 〄〄〄〄-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div class="row" >

    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->
    <div class="form-group col" >
      <label >Payee Name</label >
      <label >
        <input
          (input)="onNameChg($event)"
          class="form-control"
          type="text" >
      </label >
    </div >
    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->

    <!--〄〄〄〄 child-container 〄〄〄〄-->
    <div class="col" >

      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->
      <label ><b>Name</b></label >
      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->

      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->
      <div class="CLASS_NAME" >
        <!-- TitleCasePipe -->
        {{ name | titlecase }}
      </div >
      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->

    </div >
    <!--〄〄〄〄〄〄〄〄〄〄〄〄〄〄〄〄〄〄〄 -->


  </div >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <!--〄〄〄〄 child-container (- DatePipe -) 〄〄〄〄-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div class="row" >

    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->
    <div class="form-group col" >
      <label >Payment Date</label >
      <label >
        <input
          (input)="onDateChg($event)"
          class="form-control"
          type="date" >
      </label >
    </div >
    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->

    <!--〄〄〄〄 child-container 〄〄〄〄-->
    <div class="col" >

      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->
      <label ><b>Date</b></label >
      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->

      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->
      <div class="CLASS_NAME" >
        <!-- TitleCasePipe -->
        {{ selectedDate | date: 'longDate' }}
      </div >
      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->

    </div >
  </div >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <!--〄〄〄〄 child-container (- CurrencyPipe -) 〄〄〄〄-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div class="row" >

    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->
    <div class="form-group col" >
      <label >Payment Amount</label >
      <label >
        <input
          (input)="onAmtChg($event)"
          class="form-control"
        >
      </label >
    </div >
    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->

    <!--〄〄〄〄 child-container 〄〄〄〄-->
    <div class="col" >

      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->
      <label ><b>Amount</b></label >
      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->

      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->
      <div class="CLASS_NAME" >
        <!-- TitleCasePipe -->
        {{ amount | currency: 'DKK' }}
      </div >
      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->

    </div >
  </div >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <!--〄〄〄〄 CHILD-CONTAINER (- DecimalPipe -) 〄〄〄〄-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div class="row" >

    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->
    <div class="form-group col" >
      <label >Height</label >
      <label >
        <input
          (input)="onHtChg($event)"
          class="form-control"
        >
      </label >
    </div >
    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->

    <!--〄〄〄〄 child-container 〄〄〄〄-->
    <div class="col" >

      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->
      <label ><b>Height</b></label >
      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->

      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->
      <div class="CLASS_NAME" >
        <!-- TitleCasePipe -->
        {{ height | number: '1.1-3' }} <!-- 1.1-3 = 17.567432: 17.567 -->
      </div >
      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->

    </div >
  </div >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <!--〄〄〄〄 CHILD-CONTAINER (- DecimalPipe -) 〄〄〄〄-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div class="row" >

    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->
    <div class="form-group col" >
      <label >Height</label >
      <label >
        <input
          (input)="onHtChg($event)"
          class="form-control"
        >
      </label >
    </div >
    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->

    <!--〄〄〄〄 child-container 〄〄〄〄-->
    <div class="col" >

      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->
      <label ><b>Height</b></label >
      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->

      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->
      <div class="CLASS_NAME" >
        <!-- TitleCasePipe -->
        {{ height | number: '1.1-3' }} <!-- 1.1-3 = 17.567432: 17.567 -->
      </div >
      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->

    </div >
  </div >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <!--〄〄〄〄 CHILD-CONTAINER (- JSonPipe -) 〄〄〄〄-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div >
    <hr >
    <h5>Json Pipe For Debugging</h5>
    <br >
    <b>{{ car | json }}</b>
    <hr >
  </div >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <!--〄〄〄〄 CHILD-CONTAINER (- CustomPipe -) 〄〄〄〄-->
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
  <div class="row" >

    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->
    <div class="form-group col" >
      <label >Miles</label >
      <label >
        <input
          (input)="onMilesChg($event)"
          class="form-control"
        >
      </label >
    </div >
    <!--≈≈≈≈≈| INPUT(Payee Name) |≈≈≈≈≈-->

    <!--〄〄〄〄 child-container 〄〄〄〄-->
    <div class="col" >

      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->
      <label ><b>Kilometers</b></label >
      <!--≈≈≈≈≈| Names |≈≈≈≈≈-->

      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->
      <div class="CLASS_NAME" >
        <!-- TitleCasePipe -->
        {{ miles | convert: 'km' }} <!-- 1.1-3 = 17.567432: 17.567 -->
      </div >
      <!--≈≈≈≈≈| NAME-PIPELINE-TITLE |≈≈≈≈≈-->

    </div >
  </div >
  <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <!-- ━━━━━━━━━━━━━━━ CONTAINER ━━━━━━━━━━━━━━━ -->
</div >


